.button {
  margin-top: 20px;
  font-size: 20px;
}


.description {
  width: 100%;
  margin-top: -10px;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 1.23;
  color: rgba(178, 189, 199, 1);

  @media (max-width: 600px) {
    padding-inline-start: 10px;
    padding-inline-end: 5px;
  }
}
