.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  height: 56px;
  width: 320px;
}

.arrow {
  height: 24px;
  width: 24px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.input {
  width: 100%;
  border: none;
  color: rgb(44, 85, 91);
  box-sizing: border-box;
  font-family: "SF-Pro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  background-color: rgba(178, 189, 199, 0.2);
  min-height: 92px;
  padding: 16px;

  overflow-wrap: break-word;

  &:hover {
    border-color: 1px solid rgba(122, 122, 122, 1);
    outline: none;
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid black;
  }
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardBig__button {
  height: 56px;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #76a05e;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.27;
  color: white;
  transition: background-color ease 0.3s;

  &:hover {
    background-color: #5e8b4a;
    cursor: pointer;
  }
}

.cardBig__section__title {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.27;
  padding-block: 4px;
}

.ratingWrapper {
  width: 100%;
  height: 72px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starSize {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
  }
}

.input__notif {
  font-size: 13px;
  color: rgba(178, 189, 199, 1);
  font-weight: 400;
  width: 100%;
  text-align: left;
}

.wrapperButton {
  display: flex;
  flex: 1;
}
