/* .section {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.catalog__header {
  box-sizing: border-box;
  background-color: #fff5d7;
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  height: 80px;
}

.catalog__headerTitle {
  margin: 0;
  font-family: Inter;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  color: #0a7272;
}

.sectionImg {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  margin: 10px 0;
  padding-top: 56.25%;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-image: url("../../../assets/catalogImg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog__content {
  background-color: #fff5d7;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.catalog__title {
  box-sizing: border-box;
  padding: 20px;
  font-family: Inter;
  font-size: 23px;
  font-weight: 600;
  line-height: 28px;
}

.catalog__itemList {
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 8px;
  row-gap: 16px;
}

// .catalog__footer {
//   margin-top: 100px;
//   box-sizing: border-box;
//   padding: 60px 20px;
//   background-color: #76a05e;
// }

// .catalog__footerLinks {
//   display: flex;
//   flex-direction: column;
//   gap: 16px;
//   font-family: Inter;
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 20px;
//   text-align: left;
//   color: #FFFFFF
// }

// .catalog__footerLink {
//   opacity: 1;
//   transition: all ease-in-out 0.3s;
// }
// .catalog__footerLink:hover {
//   opacity: 0.8;
// }

// .catalog__footerSocial {
//   margin-top: 16px;
//   margin-bottom: 52px;
//   display: flex;
//   flex-direction: row;
//   gap: 16px;
// }

// .catalog__footerSocialImg {
//   width: 40px;
//   height: 40px;
//   border-radius: 10px;
//   transition: all ease .3s;
// }

// .catalog__footerSocialImg:hover {
//   opacity: 0.8;
// }

// .catalog__footerInfo {
// font-family: Inter;
// font-size: 16px;
// font-weight: 400;
// line-height: 20px;
// color: white

// }
