.wrapper {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding: 20px;
  display: grid;
  gap: 30px;
  height: 100%;
  color: #2c555b;

  .title {
    font-size: clamp(19px, 5.9375vw, 40px);
    line-height: 1.26;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .empty {
    font-size: clamp(16px, 5.33vw, 20px);
  }

  & section {
    padding: 0;
  }

  .commentTitle {
    font-size: clamp(16px, 5.33vw, 20px);
  }

  .commentLink {
    color: #2c555b;
    text-decoration: none;

    &:hover {
      transition: opacity .3s;
      opacity: 0.7;
    }
  }

  .comment:not(:last-of-type) {
    border-bottom: 1px solid #b2bdc7;
  }
}
