.card {
  border-radius: 16px;
  min-width: 88px;
  max-width: 300px;
  width: 100%;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.3s;
  box-sizing: border-box;
  cursor: pointer;

  @media (max-width: 768px) {
    max-width: 200px;
  }

  @media (max-width: 480px) {
    max-width: 150px;
    grid-column: span 2;
    &:nth-child(5n-1) {
      justify-self: center;

      grid-column: 1 / span 3;
    }

    &:nth-child(5n) {
      justify-self: center;

      grid-column: 4 / span 3;
    }
  }
}

.card__link {
  text-decoration: none;

  &:hover {
    & > .card__imgWrapper::after {
      opacity: 0.8;
      transition: opacity 0.2s;
    }

    & .card__img {
      transform: scale(1.1);
      transition: transform 0.2s;
    }
  }
}

.card__title {
  max-width: 168px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.22;
  color: #2c555b;
  word-break: keep-all; /* не разбивать слова (для кириллицы почти не работает) */
  overflow-wrap: break-word;
  hyphens: manual;
  margin-top: 16px;

  @media (max-width: 768px) {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.25;
  }

  @media (max-width: 320px) {
    font-size: 11px;
    font-weight: 600;
    line-height: 1.23;
  }
}

.card__img {
  position: relative;
  top: 25%;
  left: 25%;
  z-index: 1;
  width: 50%;
}

.card__imgWrapper {
  aspect-ratio: 1/1;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    background-color: #e3e3e3;
    border-radius: 16px;
    opacity: 0.5;
  }
}
