.card {
  border-radius: 16px;
  background-color: #ffffff;
  min-width: 88px;
  max-width: 260px;
  height: 200px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid transparent;
  transition: all ease-in-out 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px 10px 10px 16px;
  box-sizing: border-box;
  cursor: pointer;

  @media (max-width: 1024px) {
    padding: 8px;
    padding-right: 0;
  }

  @media (max-width: 768px) {
    max-width: 200px;
    height: 150px;
  }

  @media (max-width: 480px) {
    max-width: 150px;
    height: 120px;
    grid-column: span 2;
    &:nth-child(4) {
      grid-row: 2;
      grid-column: 1 / span 3;
    }

    &:nth-child(5) {
      grid-row: 2;
      grid-column: 4 / span 3;
    }
  }
}

.card:hover {
  border: 1px solid #2c555b;
  opacity: 0.8;
}

.card__title {
  max-width: 168px;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.22;
  color: #2c555b;
  word-break: keep-all; /* не разбивать слова (для кириллицы почти не работает) */
  overflow-wrap: break-word;
  hyphens: manual;

  @media (max-width: 768px) {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
  }

  @media (max-width: 320px) {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
  }
}

.card__img {
  width: 100px;

  @media (max-width: 1024px) {
    width: 83px;
  }

  @media (max-width: 768px) {
    width: 66px;
  }

  @media (max-width: 480px) {
    width: 40px;
  }
}

.card__imgWrapper {
  margin-left: auto;
}

.title {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  width: 168px;
  height: 56px;
  padding: 16px;
  margin: 16px 0;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: 480px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.icon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  left: 10px;

  @media (max-width: 768px) {
    width: 80px;
    height: 80px;
  }

  @media (max-width: 480px) {
    width: 60px;
    height: 60px;
  }
}
