.userLK {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: rgb(245, 245, 245);
}

