.window {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.window__dayTitle {
  margin-top: 16px;
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: rgb(178, 189, 199);

  &:hover {
    opacity: 0.9;
  }
}

.window__listMessage {
  display: flex;
  flex: 1;
  flex-direction: column;
  // flex-grow: 1;
  gap: 16px;
  padding-inline: 16px;
  overflow-y: auto;
   min-height: 0;
  scrollbar-width: thin;
}

.window__wrapperSendInput {
  border-top: 2px solid rgba(178, 189, 199, 0.2);
  padding-inline: 16px;
  // height: 56px;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @media (max-width: 480px) {
      margin-block-end: 40px
  }
}

.window__textAreaText {
  width: 100%;

  border: none;
  outline: none;
  background-color: rgba(178, 189, 199, 0.2);
  // border-bottom: 1px solid rgba(157, 157, 157, 1);
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  z-index: 1;
  resize: none;
  overflow-y:hidden;
  max-height: 250px;
  scrollbar-width: thin;
    max-height: 140px;

  &::placeholder {
    color: #b2bdc7;
  }

  &:hover {
    border: 1px solid rgba(122, 122, 122, 1);
  }

  &_error {
    border-bottom: 2px solid rgb(255, 92, 0);
  }

  &:hover {
    border: none;
    outline: 1px solid #000;
  }


}

.window__sendButton {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #b2bdc7;

  &:hover > svg:hover {
    transition: 0.2s ease;
    color: #98a6b3;
  }
}

.window__inputFiles {
  display: none;
}

.window__iconButton {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  & > svg {
    fill: #b2bdc7;
  }

  &:hover > svg {
    opacity: 0.9;
    transform: scale(1.1);
    fill: #98a6b3;
  }
}
