.chat {
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  // height: 100vh;
  height: auto;
}

.chat__header {
  box-sizing: border-box;
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  height: 80px;
  justify-content: flex-start;
  gap: 60px;
  align-content: center;
}

.chat__headerTitle {
  margin: 0;
  font-family: Inter;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #0a7272;
}

.cardBig__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  &:hover {
    opacity: 0.9;
  }
}

