.passwordRecovery {

  &_article {
    margin: 0 0 35px 0;
    color: rgb(44, 85, 91);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
  }

  &_innerText {
    margin: 30px 0 30px 0;
    color: rgb(44, 85, 91);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
  }
}
