.cardBig {
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  height: 100vh;
}

.cardBig__header {
  box-sizing: border-box;
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  height: 80px;
}

.cardBig__headerTitle {
  margin: 0;
  font-family: Inter;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  color: #0a7272;
}

.cardBig__settings {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardBig__panel {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.cardBig__img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all ease 0.3s;

  &:hover {
    opacity: 0.9;
  }
}

.cardBig__title {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 270px;
}

.cardBig__cardTitleText {
  margin: 0;
  font-family: Inter;
  font-size: 23px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #2c555b;
}

.cardBig__cardSubtitleText {
  margin: 0;
  font-family: Inter;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #2c555b;
}

.cardBig__cardCity {
  padding: 0 16px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #b2bdc7;
}

.cardBig__cardContact {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardBig__cardButton {
  border: none;
  width: 100%;
  height: 56px;
  // width: 142px;
  // height: 36px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background-color: #76a05e;
  font-family: Inter;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;

  color: white;
  transition: all ease 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.cardBig__section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section__title {
  margin: 0;
  font-family: Inter;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #2c555b;
}

.section__description {
  margin: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #2c555b;
}

.cardBig__info {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #b2bdc7;
}
