.section {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  width: 100%;
  padding: 16px;
  color: rgb(44, 85, 91);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  height: 56px;
  width: 320px;
}

.arrow {
  height: 24px;
  width: 24px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.header__title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  text-align: left;
}

.header__subtitle {
  padding-block: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.headerButton {
  padding: 0;
  display: flex;
  gap: 16px;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  &:hover {
    opacity: 0.7;
  }
}

.listItems {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.item {
  width: 100%;
  height: 54px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: rgb(44, 85, 91);
  &:hover {
    opacity: 0.7;
  }
}

.itemButton {
  padding: 8px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  &:hover {
    opacity: 0.7;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label__field {
  color: rgb(44, 85, 91);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.input {
  width: 100%;
  border: none;
  color: rgb(44, 85, 91);
  box-sizing: border-box;
  font-family: "SF-Pro", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    border-color: 1px solid rgba(122, 122, 122, 1);
    outline: none;
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid black;
  }
}

.wrapper__fieldsPrice {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  height: 56px;
  justify-content: space-between;
}

.buttonAddedPrice {
  color: rgb(118, 160, 94);
  border: none;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.titlePhotoSection {
  color: rgb(44, 85, 91);
}

.sectionPhoto {
  display: flex;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s;

  @media (max-width: 450px) {
    flex-direction: column;
    gap: 10px;
  }
}

.buttonPhoto {
  max-width: 140px;
  width: 100%;
  max-height: 68px;
  height: 100%;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  &:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

.photoGallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  @media (max-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.uploadedPhoto {
  width: 140px;
  height: 68px;
  object-fit: contain;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  &:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

.submitButtonWrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.errorsWrapper {
  min-height: 50px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 338px;
  text-align: left;
  gap: 5px;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  padding: 5px 0;
  color: red;
}

.removeItemAdsButton {
  padding-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  padding: 0;

  &:hover {
    opacity: 0.7;
    color: #e84141;
  }
}

.textarea {
  width: 288px;
  resize: none;
  min-height: 100px;
}

.adCreatedModal {
  color: #2c555b;
  background-color: #fff;
  min-height: 150px;
  border-radius: 15px;
  padding: 10px;
  display: grid;
  align-content: center;
  justify-items: center;
  grid-template-rows: min-content min-content ;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.dotContainer {
  display: flex;
  gap: 10px;

  .dot:nth-child(1n) {
    animation-delay: 0s;
  }
  .dot:nth-child(2n) {
    animation-delay: 0.3s;
  }
  .dot:nth-child(3n) {
    animation-delay: 0.6s;
  }
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #2c555b;
  border-radius: 50%;
  animation: blink 1.5s  infinite;

}
