.PageTitle {
  margin: 0;
  padding: 0;
  color: rgb(44, 85, 91);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}
