.notification {
   font-family: Montserrat;
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
  padding: 14px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  animation:
    slide-in 2s ease forwards,
    fade-out 1s 4s forwards;

  white-space: pre-line;
  text-align: center;
  @media (max-width: 450px) {
    width: calc(100% - 32px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.success__message {
 background-color: #d4edda;
  color: #155724;
}

.error__message {
 background-color: #f8d7da;
  color: #721c24;
}
