.success__message {
  font-family: Montserrat;
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
  padding: 14px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  animation:
    slide-in 2s ease forwards,
    fade-out 1s 4s forwards;
  background-color: #d4edda;
  color: #155724;
  white-space: nowrap;
  text-align: center;
}

.error__message {
  white-space: nowrap;
  text-align: center;
  font-family: Montserrat;
  border: 1px solid #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
  padding: 14px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  animation:
    slide-in 3s ease forwards,
    fade-out 1s 4s forwards;
}
