.catalog__cardList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.catalog__card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.catalog__cardPhoto {
  // width: 288px;
  // height: 144px;
  border-radius: 16px;
  opacity: 0px;
  transition: all ease 0.3s;
  border: 1px solid transparent;

  &:hover {
    opacity: 0.8;
    border: 1px solid #0a7272;
  }
}

.catalog__cardTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 270px;
}

.catalog__cardTitleText {
  font-family: Inter;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #2c555b;
}

.catalog__cardSubtitleText {
  font-family: Inter;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #2c555b;
}

.catalog__cardLike {
  width: 16px;
  height: 16px;
  padding: 2px 1.03px 1.85px 1.03px;
}

// .catalog__cardInfo {
//   display: flex;
//   flex-direction: column;
//   gap: 8px;
// }

// .catalog__cardRowInfo {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   cursor: pointer;
//   transition: all ease 0.3s;

//   &:hover {
//     opacity: 0.9;
//   }
// }

// .catalog__cardRowTitle {
//   overflow: hidden;
//   height: 16px;
//   font-family: Inter;
//   font-size: 13px;
//   font-weight: 400;
//   line-height: 16px;
//   text-align: left;
//   color: #2c555b;
// }

// .catalog__cardRowPrice {
//   width: 52px;
//   height: 16px;
//   font-family: Inter;
//   font-size: 13px;
//   font-weight: 400;
//   line-height: 16px;
//   text-align: right;
//   color: #2c555b;
// }

.catalog__cardCity {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #b2bdc7;
}

.catalog__cardContact {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.catalog__cardAuthor {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.catalog__cardRaiting {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.catalog__cardAverage {
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #0a7272;
}

.catalog__cardCount {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #b2bdc7;
}

.catalog__buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.catalog__cardButton {
  border: none;
  width: 100%;
  // width: 142px;
  // height: 36px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background-color: #76a05e;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: white;
  transition: all ease 0.3s;

  &:hover {
    opacity: 0.8;
  }
}
