.author__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  @media (max-width: 768px) {
    margin-block: 20px;
  }

  @media (max-width: 430px) {
    margin-block: 8px;
  }
}

.catalog__cardAuthor {
  display: inline-block;
  font-size: 23px;
  line-height: 1.22;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 19px;
    line-height: 1.27;
  }
}

.catalog__cardRaiting {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 20px;

  font-size: 16px;
  line-height: 1.25;

  > :first-child {
    color: #0a7272;
    font-weight: 700;
  }

  > :last-child {
    font-weight: 400;
    color: #b2bdc7;
  }

  @media (max-width: 768px) {
    margin-top: 16px;
    font-size: 13px;
    line-height: 1.23;
    font-weight: 600;
  }

  @media (max-width: 430px) {
    margin-top: 8px;

    > :first-child {
      font-weight: 600;
    }
  }
}



.catalog__cardCountStars {
  display: flex;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
  }
}

.catalog__buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 768px) {
    margin-top: 20px;
  }


  @media (max-width: 430px) {
    margin-top: 8px;
  }
}

.catalog__cardButton {
  height: 56px;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #76a05e;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.27;
  color: white;
  transition: background-color ease 0.3s;


  &:hover {
    background-color: #5e8b4a;
    cursor: pointer;
  }
}
