.catalog__cardAuthor {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.catalog__cardRaiting {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.catalog__cardAverage {
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #0a7272;
}

.catalog__cardCount {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #b2bdc7;
}
